@import "../../components";

%button {
  @include hover {
    text-decoration: none;
  }
}

.LiveMessage {
  @extend .card;
  @extend .card-block;

  &__buttons {
    display:    none;
    margin-top: $spacer-y;
  }

  &__strike-button {
    @extend %button;
  }

  &__delete-button {
    @extend %button;
  }

  &__status {
    display: inline;

    &--stricken {
      text-decoration: line-through !important;
    }

    &--visible {
    }
  }

  &__content {
    p, ol, ul, dl {
      margin-bottom: .25rem;
      @extend .card-text;
    }
    p:last-of-type {
      display:      inline-block;
      margin-right: $spacer-x;
    }
  }

  &:hover .LiveMessage__buttons {
    display: block;
    .Confirm {
      @include hover {
        text-decoration: none;
      }

      + .Confirm {
        margin-left: $card-spacer-x;
      }
    }
  }
}
