// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components
// ************************************************************************* //
// ************************************************************************* //
@import "~bootstrap/scss/variables";

// Colors
// ************************************************************************* //

// Options
// ************************************************************************* //

$enable-flex: true;
$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-hover-media-query: true;

// Spacing
// ************************************************************************* //

// Body
// ************************************************************************* //

// Links
// ************************************************************************* //

// Grid breakpoints
// ************************************************************************* //

// Grid containers
// ************************************************************************* //

// Grid columns
// ************************************************************************* //

// Fonts
// ************************************************************************* //
$font-family-sans-serif: 'Cabin', sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-cursive: 'Lobster', cursive;
$font-family-base: $font-family-sans-serif;

$headings-font-family: $font-family-cursive;

// Components

// Core variables and mixins
//@import "~bootstrap/scss/custom";
//@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Reset and dependencies
@import "~bootstrap/scss/normalize";
@import "~bootstrap/scss/print";


