@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,700,700i|Lobster');
@import "components";

body, html {
  height: 100%;
}

.home {
  @extend .jumbotron;
  @extend .jumbotron-fluid;
  text-align: center;
  height:     100%;
  margin:     0;

  &__container {
    @extend .container;
  }

  &__title {
    @extend .display-3;
  }

  &__text {
    @extend .lead;
  }

  &__action {
    @extend .btn;
    @extend .btn-outline-primary;
    @extend .btn-lg;
  }
}

////////////////////////////////
//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}

