@import url(https://fonts.googleapis.com/css?family=Lobster);
@import "bootstrap-custom";
// Alert colors

$white: #ffffff;
$mint-green: #d6e9c6;
$black: #000000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

body {
}

.jumbotron-home {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

h1, h2 {
  a {
    color: #fca205;
  }
}

.page-header {
  background-color: #ff9400;
  margin-top:       0;
  padding:          20px 20px 20px 40px;
  h1 {
    &, a, a:visited, a:active {
      color:           #ffffff;
      font-size:       36px;
      text-decoration: none;
    }
  }
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.content {
  margin-left: 40px;
  padding:     0;
}

.post-form {
  textarea, input {
    width: 100%;
  }
}

.top-menu {
  &, &:hover, &:visited {
    color:        #ffffff;
    float:        right;
    font-size:    26px;
    margin-right: 20px;
  }
}

.post {
  margin-bottom: 70px;
  h2 {
    a, a:visited {
      color: #000000;
    }
  }
}

.hide {
  opacity: 0;
}

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color:     $mint-green;
  color:            $black;
}

.alert-error {
  background-color: $pink;
  border-color:     $dark-pink;
  color:            $red;
}

////////////////////////////////
//Navbar//
////////////////////////////////

// This is a fix for the bootstrap4 alpha release

.navbar {
  border-radius: 0px;
}

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float:   none;
    width:   100%;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}

////////////////////////////////
//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317

[hidden][style="display: block;"] {
  display: block !important;
}
