{
  "presets": [ "es2015", "react" ],
  "env": {
    "local": {
      "presets": [ "react-hmre" ]
    },
    "production": { },
    "test": {
      "plugins": [
        [ "__coverage__", { "ignore": "**/__tests__/**" } ]
      ]
    }
  }
}
