<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{% block title %}{% endblock title %}</title>
   <meta name="description" content="">
   <meta name="author" content="">
   <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
   {% block css %}{% endblock css %}
</head>
<body>
{% block nav %}{% endblock nav %}
{% block messages %}{% endblock messages %}
{% block page-header %}{% endblock page-header %}
{% block container %}{% block content %}{% endblock content %}{% endblock container %}
{% block modal %}{% endblock modal %}
{% block javascript %}{% endblock javascript %}
</body>
</html>
