{% extends 'app-base.html' %}
{% load staticfiles i18n compress %}
{% load render_bundle from webpack_loader %}

{% block title %}postit-live{% endblock title %}

{% block css %}
   {% render_bundle 'bootstrap' 'css' %}
{% endblock %}

{% block nav %}{% include '_partials/nav.html' %}{% endblock nav %}

{% block messages %}
   <div>
      {% if messages %}
         {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
         {% endfor %}
      {% endif %}
   </div>
{% endblock messages %}

{% block page-header %}{% endblock page-header %}

{% block container %}
   <div class="container-fluid">
      {% block content %}{% endblock %}
   </div>
{% endblock container %}

{% block modal %}{% endblock modal %}

{% block javascript %}
   {% render_bundle 'vendor' %}
   {% render_bundle 'bootstrap' 'js' %}
   {% render_bundle 'common' %}
{% endblock javascript %}
