@import "../../components";

%label {
  width:          100%;
  padding-bottom: .25rem;
  padding-top:    .25rem;
  padding-right:  .50rem;
  padding-left:   1.75rem;
}

.FormGroupPermissions {
  @extend .dropdown;

  &--open {
    // Show the menu
    > .FormGroupPermissions__dropdown {
      display: block;
    }

    // Remove the outline when :focus is triggered
    > a {
      outline: 0;
    }
  }

  &__change-button {
    @extend .btn;
    @extend .btn-link;
  }

  &__update-button {
    @extend .btn;
    @extend .btn-secondary;
    @extend .btn-sm;
  }

  &__dropdown {
    @extend .dropdown-menu;
    @extend .dropdown-menu-right;
    > div > label {
      @extend %label;
    }

    &__item {
      @extend %label;
      padding-left: .50rem;
    }

    &__check {
      margin-bottom: 0;
    }

  }
}

