@import "../../components";

.Confirm {
  display:  inline-block;
  position: relative;

  &--open {
    > .Confirm__dropdown {
      display: block !important;
    }
    > a {
      outline: 0;
    }
  }

  &__dropdown {
    @extend .dropdown-menu;
    padding: 0;

    &--right {
      @extend .dropdown-menu-right;
    }

    &--left {
      @extend .dropdown-menu-left;
    }

    &__item {
      @extend .dropdown-item;
    }

  }
}
