//@import "../../bootstrap-custom";

.wrapper {
  display:  inline-block;
  position: relative;

  &--open {
    > .dropdown {
      display: block !important;
    }
    > a {
      outline: 0;
    }
  }
}

.dropdown {
  composes: dropdown-menu from '../../_bootstrap-components.scss';
  //@extend .dropdown-menu;
  padding:  0;

  &--right {
    composes: dropdown-menu-right from '../../_bootstrap-components.scss';

    //@extend .dropdown-menu-right;
  }

  &--left {
    composes: dropdown-menu-left from '../../_bootstrap-components.scss';

    //@extend .dropdown-menu-left;
  }

  &__item {
    composes: dropdown-item from '../../_bootstrap-components.scss';
    //@extend .dropdown-item;
  }

}
