@import "../../components";

.LiveNav {
  @extend .nav;
  @extend .nav-tabs;

  &__container {
    @extend .container-fluid;
    list-style: none;
  }

  &__item {
    @extend .nav-item;

    &--pull-right {
      @extend .pull-xs-right;
    }
  }

  & &__link {
    @extend .nav-link;

    &--active {
      @extend .active;
    }
    &--title {
      margin:         0;
      font-size:      2em;
      padding-top:    0;
      padding-bottom: 0;
    }
    &--text {
      border-style: none;

    }
  }

  &__confirm-button {
    @extend .btn;
    @extend .btn-link;
    line-height: 1.5;
  }
}
