{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block content %}
   <h2>{{ room.label }}</h2>
   <p class="text-muted">anyone with this url can join the room and chat:
      <code>{{ request.scheme }}://{{ request.get_host }}{{ request.path }}</code></p>
   <p>
      <label for="handle">Your name:</label>
      <input type="text" id="handle" placeholder="handle">
   </p>
   <form id="chatform">
      <table id="chat">
         <tbody>
            {% for message in messages %}
               <tr>
                  <td>{{ message.created }}</td>
                  <td>{{ message.handle }}</td>
                  <td>{{ message.message }}</td>
               </tr>
            {% endfor %}
         </tbody>
         <tfoot>
            <tr>
               <td>Say something:</td>
               <td colspan="2"><input type="text" id="message" placeholder="message">
                  <button id="go" type="submit">Say it</button>
               </td>
            </tr>
         </tfoot>
      </table>
   </form>
{% endblock %}

{% block javascript %}
   {{ block.super }}
   {% render_bundle 'chat' %}
{% endblock %}
