{% extends 'base.html' %}

{% block page-header %}
   <div class="page-header">
      {% if user.is_authenticated %}
         <a href="{% url 'blog:post_new' %}" class="top-menu">+</a>
      {% endif %}
      <h1>
         <a href="#">postit-live blog</a>
      </h1>
   </div>
{% endblock page-header %}

{% block container %}
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            {% block content %}{% endblock %}
         </div>
      </div>
   </div>
{% endblock container %}
